<div class="container">
  <h1>Restaurants Available</h1> 
  
  <ul class="list-unstyled  ml-3">
    <% @restaurants.each do |restaurant| %>
    <li class="my-3"><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></li>
    <% end %>
  </ul>

  <%= link_to '+ Add a restaurant', '/restaurants/new', class: "btn btn-primary" %>

</div>